@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <title>Party RSVP Home</title>
    <style>
        body {
            <!-- background-color: powderblue; -->
            background-image: url("download2.png");
            background-repeat: no-repeat;
            height: 100%;;
            background-position: center;
            background-size: cover;
            }
        h1 {
            color: blue;
            font-size: 300%;
            border: 2px solid blue;
            padding: 30px;
            }
        h3 {color: red;
            margin-top: 50px;
            }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Party Time!</h1>
        <h3>Celebrate Justin's 22nd birthday!!</h3>
    </div>
</body>
</html>